body {
    font-family: Arial, sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin: 15px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #003366;
}

/* تنسيق قسم الأندية */
.teams {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.team img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team h3 {
    margin-top: 10px;
    color: #003366;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}